.ct_bks {
    width: 13px;
    height: 13px;
    position: absolute;
    background: rgb(0, 28, 243, 52%);  
    right:0; 
    cursor: pointer;
}

.ct_bks::after{
    content: "";
    position: absolute;
    border-top: 6.5px solid transparent;
    border-bottom: 6.5px solid transparent;
    border-right: 8px solid rgb(0, 28, 243, 52%);
    left: -8px;
}

.ct_bks_bg {
    /* background: #adfff161; */
}

.ct_bks_ip_box{
    position: absolute;
    height: 150px;
    width: 200px;
    right: 25px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px #5252525e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;;
}

.ct_bks_ip_box.ct_bks_mm_box{
    height: fit-content;
    width: fit-content;
    max-width: 200px;
    padding: 10px;
    background: #ffff8a;
}

.ct_bks_ip_box textarea{
    height: 100px;
    width: 180px;
    background: transparent !important;
    border: none !important;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    resize: none;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 5px 0px #a8a8a8 !important;
}

.ct_bks_ip_box textarea:focus-visible{
    outline: none;
}

.ct_bks_ip_box textarea:focus{
}

.ct_bks_ip_box .ct_bks_btn_container {
    display: flex;
    justify-content: space-evenly;
}

.ct_bks_btn_container button{
    font-size: 12px;
    border: none;
    border-radius: 4px;
    margin: 0;
    color: white;
    border-radius: 20px;
    width: 60px;
}

#ct_bks_tt_y {
    background: rgb(118 134 255);;
}

#ct_bks_tt_y:hover {
    background: rgb(92 111 255);
}

#ct_bks_tt_y:active {
    background:  rgb(80 97 230);
}

#ct_bks_tt_n {
    background: rgb(164 164 164);
}

#ct_bks_tt_n:hover {
    background: rgb(132, 132, 132);
}
#ct_bks_tt_n:active {
    background: rgb(117, 117, 117);
}
