body {
    width: 400px;
    height: 300px;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}

ul {
    width: 150px;
    padding-left: 10px;
}

input[type="color"] {
	width: 28px;
	height: 14px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 1px;
}
/* input[type="color"]::-webkit-color-swatch {
	border: none;
} */

li {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
}

button {
    border-radius: 25px;
    outline: none;
    background: #7d8cff;
    border: none;
    color: white;
    padding: 3px 10px;
    width: 65px;
    height: 25px;
}

button:hover{
    background: #697bff;
}

button:active{
    background: #5e6ee2;
}

.options_container {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#reload_container {
    /* position: absolute; */
    bottom: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

#reload_type {
    width: 150px;
}

#reload_container > button {
    margin-top: 3%;
}

#interval_container {
    margin: 5px 0;
}

#confirm_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 10px;
    background: white;
    padding: 0 20px;
    padding-bottom: 20px;
}

#confirm_page_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.356);
}

#confirm_btn_container {
    display: flex;
    justify-content: space-around;
}

#cancel_btn {
    background: rgba(100, 100, 100, 0.52);
}
#cancel_btn:hover {
    background: rgba(100, 100, 100, 0.65);
}
#cancel_btn:active {
    background: rgba(100, 100, 100, 0.80);
}