html {
    height: fit-content;
    max-height: 400px;
}
body{ 
    font-family: arial,sans-serif;
    overflow: hidden;
    width: 350px;
    height: fit-content;
    max-height: 500px;
    box-sizing: border-box;
    margin: 0;
}

ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h4 {
    cursor: pointer;
    width: 80%;
    margin: 5px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 3px;
    padding-left: 35px;
    cursor: default;
}

li:hover {
    background: #e3e3e3;;
}

h4 , span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

.ct_bk_search_container {
    position: sticky;
    top: 0;
    height: 43px;
    box-shadow: -8px 2px 6px -4px grey;
    width: 100vw;
    padding-left: 13px;
    display: flex;
    align-items: center;
    background: white;
}

#ct_bk_search { 
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(129, 144, 255);
}

#ct_bk_search:focus-visible {
    outline: none;
    border: 2px solid rgb(129, 144, 255);
}

#bk_container {
    overflow-y: scroll;
    height: 400px;
    padding: 8px;
}

.bk_ul_container {
    margin-top: 10px;
}

.bk_ul_tt_container {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    padding-left: 0;
}

.bk_ul_tt_container:hover {
    background: #dbdbdb;
    border-radius: 5px;
}

.bk_mm_collapse_container{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 7px; 
}

.bk_mm_collapse_container:hover {
    background: #ababab;
}

.bk_mm_collapse_btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 5px 6.5px;
    border-color: transparent transparent darkgray transparent;         
}

.bk_mm_collapse_container:hover .bk_mm_collapse_btn {
    border-color: transparent transparent black transparent;    
}

.bk_mm_collapse_container.mm_collapse {
    transform: scaleY(-1);
}

.ct_bk_memo {
    width: 90%;
}

.ct_bk_icon, .ct_bk_blank_icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.ct_bk_blank_icon {
    transform: scale(1.5);
}

.ct_bk_rm_btn{
    width: 22px;
    height: 22px;
    fill:#7c7c7c;
    visibility: hidden;
    cursor: pointer;
}

.ct_bk_rm_btn:hover{
    /* visibility: visible; */
    fill:#2e2e2e !important;
    border-radius: 5px;
    background: #ababab;
    transform: scale(0.9);
}

.ct_bk_rm_btn.show_rm_btn {
    visibility: visible
}